:root {
  --colors-blue: #5175ff;
  --colors-dark: #333950;
  --colors-grey: #747b95;
  --colors-light-blue: #829cff;
  --colors-blackblue: #25293a;
  --colors-red: #f05b5b;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
