:root {
  --colors-background: #f2f2f2;
  --colors-blue: #5175ff;
  --colors-dark: #333950;
  --colors-grey: #747b95;
  --colors-light-blue: #829cff;
  --colors-blackblue: #25293a;
  --colors-red: #f05b5b;
}

/* MOBILE STYLES */
body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--colors-grey);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--colors-background);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
}
.logo {
  width: 155px;
  height: 30px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-image: url("./assets/home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-position: center -146px;
  background-attachment: fixed;
  background-size: 100%;
  padding: 24px;
}
.first-block {
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first-block h1 {
  color: var(--colors-dark);
}

.charts {
  width: 60%;
  margin-top: 70px;
  /* background-color: #f05b5b; */
}
.charts-div {
  position: relative;
}

button {
  border-radius: 28px;
  border: none;
  width: 171px;
  height: 56px;
  font-weight: bold;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.button-blue {
  background-color: var(--colors-blue);
  color: white;
}

/* TABLET STYLES */
@media (min-width: 768px) {
  h1 {
    text-align: start;
  }
  main {
    padding: 40px;
    background-position: 250% -50%;

    background-size: 80%;
  }

  .logo {
    margin-left: 0%;
  }

  .first-block {
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 32px; */
  }
  .charts {
    width: 80%;
  }
  .charts-div {
    position: absolute;
    top: 150px;
    left: 50%;
  }
  .textandbutton {
    margin-top: 50px;
    text-align: start;
    width: 50%;
  }
  .textandbutton p {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-right: 4px;
  }
  .textandbutton h1 {
    padding-right: 10px;
  }
}

/* DESKTOP STYLES */
@media (min-width: 1440px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 16px;
    line-height: 48px;
  }

  main {
    padding: 165px;
    background-position: 230% -420px;

    background-size: 80%;
  }
  .charts {
    width: 100%;
  }
  .charts-div {
    position: absolute;
    top: 150px;
    left: 60%;
  }
}
