.first-block {
  background-image: url("../home/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-position: center -170px;
  background-attachment: fixed;
  background-size: 458px 458px;
}
.first-block h1 {
  color: var(--colors-dark);
}
